.social-cards {
  border-radius: 0px;
  background-color: #808080;
  padding: 10px;
}

.nav-cards {
  border-radius: 0px;
  background-color: #4d4d4d;
  padding: 20px;
  font-size: 25px;
}

.link-cards {
  border-radius: 0px;
  background-color: #4d4d4d;
}
