<ion-grid>
  <ion-row>
    <ion-col size="2">
      <div class="ion-text-center"></div>
    </ion-col>
    <ion-col size="8">
      <div class="ion-text-center">
        The Online Resume Maker You Deserve Creating a Professional Resume and
        Cover Letter is Now Easier Than Ever
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-center"></div>
    </ion-col>
  </ion-row>
</ion-grid>

<mat-card class="info-card">
  <mat-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <fa-icon [icon]="faLayerGroup" class="fa-2x"></fa-icon>
          <mat-card-title class="title">
            A Resume Layout With Visual Appeal
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">
            A creative, professional layout will stand out with recruiters. Our
            resume layout optimiser ensures all your resume content is organised
            and aligned so your resume looks like it was professionally
            designed.
          </mat-card-subtitle>
        </ion-col>
        <ion-col>
          <fa-icon [icon]="faCommentAlt" class="fa-2x"></fa-icon>
          <mat-card-title class="title">
            Instant Feedback to Improve Resume Content
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">
            Not sure how to write a resume? We can help. Our content optimiser
            assesses your resume while you write and provides recommendations to
            improve the quality of your resume content.
          </mat-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <fa-icon [icon]="faAddressCard" class="fa-2x"></fa-icon>
          <mat-card-title class="title">
            Templates Suited to Your Precise Needs
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">
            Our free resume templates and cover letter templates do the work for
            you. Select from a variety of recruiter-approved layouts customised
            to different job types.
          </mat-card-subtitle>
        </ion-col>
        <ion-col>
          <fa-icon [icon]="faVial" class="fa-2x"></fa-icon>
          <mat-card-title class="title">
            Free cover Letter and Resume Samples
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">
            Building your resume for free is just one of the benefits we give
            you. You also get access to successful resume examples and cover
            letter samples to use as guidance.
          </mat-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </mat-card-header>
</mat-card>

<app-footer></app-footer>

