/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Overpass:wght@100&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Overpass:wght@100&family=Oxygen:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Overpass:wght@100&family=Oxygen:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  height: 700px;
  overflow: scroll;
  // position: absolute;
}

.example-icon {
  padding: 0 0px;
}
.menu-spacer {
  flex: 1 1 auto;
}

.active-link {
  color: #0d0d0d;
  //font-weight: bold;
  &:hover {
    transition: all 0.9s ease;
  }
  
} 



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
