.template-background {
  background-color: #595959;
  font-family: "Raleway";
}

.settings-card {
  margin-top: 10px;
  border-radius: 50px !important;
}

.editor {
 //text-align: center;
 margin-top: 20px;
 margin-left: 100px;
 font-size: 30px;
 font-weight: bolder;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
}

.resume-card {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 70px;
  border-radius: 5px;  
  background-color: white;
  color: black;
  &:hover {
    //transition: all 0.9s ease;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2),
      0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
    transform: translate3d(0, 0, 0);
    transition: background 0.9s cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-card {
  border-radius: none !important;
  background-color: white;
  color: black;
}

.example-full-width {
  color: black;
  width: 100%;
}

.form-label {
  color: black;
  font-family: "Raleway";
  font-weight: bold;
  font-size: large;
}

.inputs {
  font-family: "Raleway";
  font-weight: bold;
}

.text-area {
  white-space: pre-wrap;
  font-family: "Hind";
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.input-space-work input[type=text] {
  width:100%;
  height:40px;
  outline:0;
  padding:10px;
  border: none;
  border-bottom:1px solid #ccc;
}

.input-space-work textarea {
  width:100%;
  outline:0;
  padding:10px;
  border: none;
  border-bottom:1px solid #ccc;
}

.input-space-edu input[type=text]{
  width:100%;
  height:40px;
  outline:0;
  padding:10px;
  border: none;
  border-bottom:1px solid #ccc;
}

.line-style {
  border: 2px dashed red;
}

.add-delete {
  align-items: center;
  width: 60px;
  height: 110px;
}

fa-icon {
  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}

.btn {
  text-align: center;
}

.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}